@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");

.recents-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: solid 0px rgb(238, 238, 238);
  border-bottom-width: 1px;
}

.recents-container .content {
  display: flex;
  flex-direction: row;
  padding: 0px 2px;
  align-items: center;
  flex-wrap: wrap;
}
.no-icons-found {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: grey;
}

.no-icons-found i {
  margin-right: 11px;
}
.icon-d-textbox {
  font-size: 13px;
  padding: 15px 20px;
  width: 100%;
  border-radius: 5px;
  border: solid 0px rgb(231, 231, 231);
  border-bottom-width: 1px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.icon-d-trigger-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon-d-main-wrapper {
  background: white;
  z-index: 999;
  position: absolute;
  top: 70px;
  left: 0;
  width: 300px;
  height: 330px;
  overflow: hidden;
  opacity: 0;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.031),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.031);
}

@keyframes load-in {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.anime-load-in {
  animation: load-in;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

.icon-d-textbox:focus {
  outline: 0px;
}
.icon-d-root {
  display: inline-block;
  position: relative;
}

.default-trigger p {
  margin: 0px 5px;
}
.default-trigger {
  display: flex;
  align-items: center;

  /* padding: 15px; */
  color: black;
  cursor: pointer;
}

.default-trigger:hover {
  opacity: 0.5;
  transition: 0.2s ease-out;
}

.default-trigger i {
  margin-right: 5px;
}

.icon-container {
  padding: 20px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 300px;
  overflow-y: scroll;
}

.icon-d-ghost-curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0;
  z-index: 5;
}

.d-icon {
  font-size: 18px;
  cursor: pointer;
}

.d-icon-span {
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.d-icon-span:hover {
  transform: scale(1.15);
  box-shadow: 0 1px 0px 0 rgba(0, 0, 0, -1.84), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 0px 0 rgba(0, 0, 0, -1.84),
    0 2px 10px 0 rgba(0, 0, 0, 0.1);
  transition: 0.1s ease-out;
}
.icon-d-footer {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.d-icon-control {
  padding: 0px 10px;
  border: solid 1px black;
  margin: 0px 10px;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}

.d-icon-control:hover {
  box-shadow: 0 1px 0px 0 rgba(0, 0, 0, -1.84), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 0px 0 rgba(0, 0, 0, -1.84),
    0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.disabled {
  opacity: 0.4;
}
