@import url(./mobile-only.css);
@import url(./pc-only.css);
@import url(./elevations.css);

* {
  font-family: "Google Sans", sans-serif;
  box-sizing: border-box;
}
p,
span,
small,
div {
  font-weight: 400;
}

th {
  font-family: "Google Sans", sans-serif !important;
}

thead * {
  font-weight: bold !important;
}
